*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

.project
.pydevproject

# Documentation products
docs/*.aux
docs/*.log
docs/*.toc
docs/*.pdf

# Build products
lib/thea/about_dialog_layout.py
lib/thea/colorbar_dialog_layout.py
lib/thea/main_window_layout.py
lib/thea/source_code_dialog_layout.py
